## Generic .gitignore file template on my local system

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*rollup*
*node_modules*
*.git
*.vscode*
package.sh
!pnpm-lock.yaml
pids
logs
results
tmp

# Local deliveries in syntax CL[datetime]
CL*

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/

__pycache__/

/.yalc
yalc.lock

.vscode/settings.json

# Ignore output folder
backend/out
deliverables/

# Local release script
release.sh
